    <td><%= outfit.title %></td>
    <td><%= outfit.content %></td>
    <td><%= image_tag outfit.image.variant(resize: '200x200') %></td>
  <% if current_proposer.nil? && current_user.liked_by?(outfit.id) %>
      <td>
    <%= link_to destroy_like_path(outfit), class: "like-link", method: :DELETE, remote: true do %>
      <i class="fa fa-heart unlike-btn"></i>
    <% end %>
    <%= outfit.likes.count %>
  </td>
  <% else %>
       <td>
    <%= link_to create_like_path(outfit), class: "like-link", method: :POST, remote: true do %>
      <i class="fa fa-heart like-btn"></i>
    <% end %>
    <%= outfit.likes.count %>
  </td>
  <% end %>
    <td><%= outfit.proposer.username %></td>
    <td><%= link_to 'Show', outfit %></td>
  <% if current_proposer == outfit.proposer %>
    <td><%= link_to 'Edit', edit_outfit_path(outfit) %></td>
    <td><%= link_to 'Destroy', outfit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>